.searchBarContainer {
	display: flex;
	border-radius: 15px;
	align-items: center;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.searchBarContainer p {
	font-family: Mulish;
	font-size: 0.875rem;
	line-height: 18px;
	font-weight: 400;
}

.searchBarContainer > div {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	padding: 17px 15px;
}

.searchBarContainer .searchContainer {
	border-right: 0;
}

.searchContainer {
	cursor: pointer;
}

.location-text {
	color: #333333;
}

.add-guests-text {
	color: #bdbdbd;
}

@media (max-width: 500px) {
	.searchBarContainer {
		align-self: center;
		margin-top: 40px;
	}
}
