.footer {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
}

.footer p {
  font-family: Montserrat;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

.footer p a {
  font-weight: 700;
  color: #828282;
  text-decoration: underline;
}
